.stats-container {
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 40px;
}

.cards {
  margin-bottom: 129px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

@media (width < 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .cards {
    margin-bottom: 50px;
  }
}
