.stat-card {
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 24px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: "100%";
}

h3 {
  font-size: 22px;
}

.stat-card:last-child {
  display: none;
}

.stat-card:hover {
  transition: all var(--transition-fast);
}

.stat-card:active {
  transform: scale(0.9);
}

@media (width < 500px) {
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
}
